body{
	background: #eee;
	margin: 0;
	font-family: 'Playfair Display SC', serif;
}

div{
	width: 60%;
	margin: 0 auto;
}

.about {
	width: 81%;
	margin: 0 auto;
	/*margin-top: -20px;*/
	background-color: rgba(10,115,185,.6);
	height: 70vh;
	
}

nav ul{
	width: 100%;
	margin: 0 0 0 0;
	padding: 35px 0 0 0;
	display: flex;
	justify-content: center;
}

nav ul li{
	list-style: none;
	display: inline-block;
	/*padding-right: 10%;*/
	}

 nav ul li:nth-last-child(1){
	padding-right: 0 !important;
}
 nav ul li a{
	color: white;
	text-decoration: none;
	font-family: 'Poiret One', cursive;
	font-weight: 900;
	font-size: 1.2em;
	letter-spacing: 2px;
}

nav ul li a:hover{
	color: #ccc;
}

h1{
	width: 80%;
	margin: 30px auto 0 auto;
	text-align: center;
	font-size: 1em;
	color: white;
}

a{
	text-decoration: none;
	color: black;
}