body{
	background: #eee;
	margin: 0;
	font-family: 'Playfair Display SC', serif;
}

div{
	width: 55%;
	margin: 0 auto;
}

.contact {
	width: 81%;
	margin: 0 auto;
	/*margin-top: -20px;*/
	background-color: rgba(10,115,185,.6);
	height: 70vh;
	
}


.contact h1{
	letter-spacing: 5px;
	font-weight: 100;
	
}