body{
	background: #eee;
	margin: 0;
	font-family: 'Playfair Display SC', serif;

}
#todo{
	width: 100%;
	display: flex;
	justify-content: center;
}
#list{
	width: 45%;
	background-color: rgba(10,115,185,.6);
}

#list nav ul {
	width: 100%;
	margin: 20px 0 0 0;
	padding: 0;
	display: flex;
	justify-content: center;
}
#list nav ul li{
	list-style: none;
	display: inline-block;
	/*padding-right: 10%;*/
	}

#list nav ul li:nth-last-child(1){
	padding-right: 0 !important;
}
#list nav ul li a{
	color: white;
	text-decoration: none;
	font-family: 'Poiret One', cursive;
	font-weight: 900;
	font-size: 1.2em;
	letter-spacing: 2px;
}

#list nav ul li a:hover{
	color: #ccc;
}
#list h1,
#list h2{
	width: 60%;
	margin: 20px auto;
}
#list h1{
	font-family: 'Poiret One', cursive;
	font-weight: 900;
	font-size: 3em;
	letter-spacing: 5px;
	color: white;
	text-align: center;
	border: 10px double white;
	padding-top:5px;
	padding-bottom:5px;
}
#list h2{
	font-family: 'Poiret One', cursive;
	font-weight: 900;
	font-size: 2em;
	letter-spacing: 5px;
	color: white;
	text-align: center;
}

#list ul{
	width: 60%;
	margin: 20px auto 0 auto;
	padding: 0;
}
#list ul form{
	width: 100%;
	margin-bottom: 10px;
}
#list ul form input{
	width:80p%;
	padding: 5px 10px;
	font-size: 1.2em;
	border: none;
	border-radius: 1px;
}
button{
	// background-color:#fe9c25;
	background-color:goldenrod;
	border:2px solid #fe9c25;
	padding: 3px 10px 3px 10px;
	cursor: pointer;
	color: white;
	font-size: 1.2em;
	letter-spacing: 2px;
	border-radius: 1px;
	width: 20%;
}

button:hover{
	background-color: #ef8401;
	border: 2px solid #ef8401;
	transition: .2s;
}

#list ul li {
	margin: 10px 0;
	padding: 5px 0;
	color: white;
	list-style: none;
	// border-bottom: 2px dotted white;
	text-align: center
}

input:focus{
	border: none;
}