.item-delete{
	background: #1abc9c;
	color: white;
	font-size: 1em;
	font-weight: 900;
	padding: 2px 8px;
	border-radius: 100%;
	cursor: pointer;
	margin-left: 10px;
	border: 2px solid white;
}

.item-delete:hover{
	background:#12806a;
	transition: .5s;
}